/* src/styles/components/trustedby.css */

.trusted {

  width:100%;

  padding:50px 0;

  overflow:hidden;

  background:#050505;

}



.trusted__title {

  text-align:center;

  margin-bottom:35px;

  font-size:12px;

  letter-spacing:.18em;

  text-transform:uppercase;

  color:rgba(255,255,255,.45);

}



.trusted__viewport {

  width:100%;

  overflow:hidden;

  mask-image:
  linear-gradient(
    90deg,
    transparent,
    black 10%,
    black 90%,
    transparent
  );

}



.trusted__track {

  display:flex;

  width:max-content;

  align-items:center;

  gap:70px;

}



.trusted__logo {


  width:130px;

  height:50px;

  display:flex;

  justify-content:center;

  align-items:center;


  opacity:.55;

  filter:grayscale(100%);

  transition:.3s ease;

  flex-shrink:0;

}



.trusted__logo:hover {

 opacity:1;

 filter:none;

}



.trusted__logo img {

 max-width:100%;

 max-height:40px;

 object-fit:contain;

}



/* TABLET */

@media(max-width:768px){


.trusted {

 padding:40px 0;

}



.trusted__track {

 gap:45px;

}



.trusted__logo {

 width:100px;

 height:40px;

}



.trusted__logo img {

 max-height:30px;

}


}